<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9XYI5GIrjT9-pjeexO4lVs4mR37fwzEA</string>
	<key>GCM_SENDER_ID</key>
	<string>391011468686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bracha.program</string>
	<key>PROJECT_ID</key>
	<string>maaser-7e254</string>
	<key>STORAGE_BUCKET</key>
	<string>maaser-7e254.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391011468686:ios:61fd3792c7c8c89b7c10df</string>
</dict>
</plist>